<div id="myModal_<%= carmodel.id %>" class="modal fade" aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-body">
      <div class="modal-content">
        <p><%= carmodel.name %></p>
        <p><%= carmodel.year %></p>
        <p><%= carmodel.category %></p>
        <p><%= carmodel.capacity %></p>
      </div>
    </div>
  </div>
</div>
