<div class="gallery-conatiner">
  <div class="side-nav-constant" id="sidebar">
    <div class="sidenav-buttons-holder">
      <div class="list-group border-0 text-center text-md-left commercial">
        <a href="#menu1" class="list-group-item d-inline-block collapsed show-border" data-toggle="collapse" aria-expanded="false"><i class="fa fa-dashboard"></i> <span class="d-none d-md-inline">COMMERCIAL</span> </a>
        <div class="collapse" id="menu1" data-parent="#sidebar">
            <a href="#menu1sub1" class="list-group-item" data-toggle="collapse" aria-expanded="false"> <i class="fas fa-bus-alt fa-2x"></i> Buses</a>
            <div class="collapse" id="menu1sub1" data-parent="#menu1">
                <a class="list-group-item smaller" data-parent="#menu1sub1" >Staff</a>
                <a class="list-group-item smaller" data-parent="#menu1sub1" onclick="displaySchoolBus()">School</a>
                <a href="#" class="list-group-item smaller" data-parent="#menu1sub1">City</a>
                <a href="#menu1sub1sub1" class="list-group-item smaller" data-toggle="collapse" aria-expanded="false">Eicher Pro20.15N</a>
            </div>
        </div>
        <div class="collapse" id="menu1" data-parent="#sidebar">
            <a href="#menu1sub2" class="list-group-item" data-toggle="collapse" aria-expanded="false"><i class="fas fa-truck-moving fa-2x"></i> Trucks</a>
            <div class="collapse" id="menu1sub2" data-parent="#menu1">
                <p class="list-group-item smaller" data-parent="#menu1sub2" onclick="displayLmd()">Light & Medium Duty</p>
                <p href="#" class="list-group-item smaller" data-parent="#menu1sub2">Heavy Duty</p>
                <p class="list-group-item smaller" data-parent="#menu1sub2" onclick="displayTipper()">Tipper</p>
                <p href="#menu1sub2sub2" class="list-group-item smaller" data-toggle="collapse" aria-expanded="false">Subitem c </a>
            </div>
        </div>
        <div class="collapse" id="menu1" data-parent="#sidebar">
            <a href="#menu1sub3" class="list-group-item" data-toggle="collapse" aria-expanded="false"><i class="fas fa-ambulance fa-2x"></i> Specialist</a>
            <div class="collapse" id="menu1sub3" data-parent="#menu1">
                <a href="#" class="list-group-item smaller" data-parent="#menu1sub3">Ambulence</a>
                <a href="#" class="list-group-item smaller" data-parent="#menu1sub3">Fire Truck</a>
                <a href="#menu1sub3sub3" class="list-group-item smaller" data-toggle="collapse" aria-expanded="false">Subitem c </a>
            </div>
        </div>
      </div>
      <div class="list-group border-0 text-center text-md-left retail">
        <a href="#menu2" class="list-group-item d-inline-block collapsed show-border" data-toggle="collapse" aria-expanded="false"><i class="fa fa-dashboard"></i> <span class="d-none d-md-inline">RETAIL</span> </a>
        <div class="collapse" id="menu2" data-parent="#sidebar">
            <a href="#menu2sub1" class="list-group-item" data-toggle="collapse" aria-expanded="false">Subitem 1 </a>
            <div class="collapse" id="menu2sub1" data-parent="#menu2">
                <a href="#" class="list-group-item" data-parent="#menu2sub1">Subitem a</a>
                <a href="#" class="list-group-item" data-parent="#menu2sub1">Subitem b</a>
                <a href="#menu2sub1sub1" class="list-group-item" data-toggle="collapse" aria-expanded="false">Subitem c </a>
            </div>
        </div>
      </div>
      <div class="list-group border-0 text-center text-md-left brands">
        <a href="#menu3" class="list-group-item d-inline-block collapsed show-border" data-toggle="collapse" aria-expanded="false"><i class="fa fa-dashboard"></i> <span class="d-none d-md-inline">BRANDS</span> </a>
        <div class="collapse" id="menu3" data-parent="#sidebar">
            <a href="#menu3sub1" class="list-group-item" data-toggle="collapse" aria-expanded="false">Eicher <img src="https://res.cloudinary.com/durtng53m/image/upload/v1592390519/Screenshot_2020-06-17_at_14-removebg-preview_2.png" style="width: 40%"></a>
            <div class="collapse" id="menu3sub1" data-parent="#menu3">
                <a href="#" class="list-group-item" data-parent="#menu3sub1">Subitem a</a>
                <a href="#" class="list-group-item" data-parent="#menu3sub1">Subitem b</a>
                <a href="#menu3sub1sub1" class="list-group-item" data-toggle="collapse" aria-expanded="false">Subitem c </a>
            </div>
        </div>
        <div class="collapse" id="menu3" data-parent="#sidebar">
            <a href="#menu3sub2" class="list-group-item" data-toggle="collapse" aria-expanded="false">Golden Dragon <img src="https://res.cloudinary.com/durtng53m/image/upload/v1593107217/unnamed__4_-removebg-preview.png" style="width: 20%" ></a>
            <div class="collapse" id="menu3sub2" data-parent="#menu3">
                <a href="#" class="list-group-item" data-parent="#menu3sub2">Subitem a</a>
                <a href="#" class="list-group-item" data-parent="#menu3sub2">Subitem b</a>
                <a href="#menu3sub2sub2" class="list-group-item" data-toggle="collapse" aria-expanded="false">Subitem c </a>
            </div>
        </div>
      </div>

    </div>
  </div>
  <div class="display-box">
    <div class="normall-display">
    </div>

    <div class="lmd-display major-display" id="lmd" style="display: none">
      <div class="title">
        <div class="secondary-title">
          <p>Light & Medium Duty Trucks</p>
        </div>
      </div>

      <div class="vehicle-holder">
        <% @eichers.each do |vehicle| %>
          <% if vehicle.capacity == 'lmd' %>
            <div class=" box vehicle page-box" data-toggle="modal" data-target="#myModal_<%= vehicle.id %>">
              <div class="vehicle-title" >
                <p><%= vehicle.name %></p>
              </div>
              <div class="vehicle-photo eicher-truck-photo">
                <%= cl_image_tag vehicle.photo %>
              </div>
           </div>
           <%= render "shared/show_car_modal", carmodel: vehicle %>
          <% end  %>
        <% end  %>
        <%# raise  %>
      </div>
    </div>

    <div class="tipper-display major-display" id="tipper" style="display: none">
      <div class="title">
        <div class="secondary-title">
          <p>Tipper Trucks</p>
        </div>
      </div>

      <div class="vehicle-holder">
        <% @eichers.each do |vehicle| %>
          <% if vehicle.capacity == 'tipper' %>
            <div class=" box vehicle page-box" data-toggle="modal" data-target="#myModal_<%= vehicle.id %>">
              <div class="vehicle-title" >
                <p><%= vehicle.name %></p>
              </div>
              <div class="vehicle-photo eicher-truck-photo">
                <%= cl_image_tag vehicle.photo %>
              </div>
           </div>
           <%= render "shared/show_car_modal", carmodel: vehicle %>
          <% end  %>
        <% end  %>
        <%# raise  %>
      </div>
    </div>

    <div class="schoolbuss-display major-display" id="schoolbus" style="display: none">
      <div class="title">
        <div class="secondary-title">
          <p>School Buss</p>
        </div>
      </div>

      <div class="vehicle-holder">
        <% @eichers.each do |vehicle| %>
          <% if vehicle.capacity == 'School' %>
            <div class=" box vehicle page-box" data-toggle="modal" data-target="#myModal_<%= vehicle.id %>">
              <div class="vehicle-title" >
                <p><%= vehicle.name %></p>
              </div>
              <div class="vehicle-photo eicher-truck-photo">
                <%= cl_image_tag vehicle.photo %>
              </div>
           </div>
           <%= render "shared/show_car_modal", carmodel: vehicle %>
          <% end  %>
        <% end  %>
        <%# raise  %>
      </div>
    </div>
  </div>
</div>




<script>
  function displayLmd() {
    var lmd = document.getElementById("lmd");
    if (lmd.style.display === "block") {
      lmd.style.display = "none";
    } else {
      lmd.style.display = "block";
    }
  }
</script>

<script>
  function displaySchoolBus() {
    var school = document.getElementById("schoolbus");
    if (school.style.display === "block") {
      school.style.display = "none";
    } else {
      school.style.display = "block";
    }
  }
</script>

<script>
  var sum = document.getElementsByClassName('major-display');
  var numbers = Array.prototype.slice.call(sum);

  function displayTipper() {
    var tipper = document.getElementById("tipper");
    if (tipper.style.display === "block") {
      tipper.style.display = "none";
    } else {
      tipper.style.display = "block";
    }
      numbers.forEach(myFunction);
      function myFunction(item) {
      item.classList.add("hidden");
    }
  }


  // var major = document.getElementsByClassName('major-display');

  // let arry = Array.from(major);

  // let final = Array.prototype.slice.call(arry);
  // final.ForEach(hideOtherDivs);

  // function hideOtherDivs(item) {
  //   item.classList.add("hidden");
  // };

</script>

<script>
// var sum = document.getElementsByClassName('major-display');
// var numbers = Array.prototype.slice.call(sum);
// numbers.forEach(myFunction);

// function myFunction(item) {
//   item.classList.add("hidden");
// }
</script>








